<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>HRMs</display-name>
    <servlet>
        <servlet-name>Activities</servlet-name>
        <servlet-class>com.hrms.controllers.Activities</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.hrms.controllers.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMonthDates</servlet-name>
        <servlet-class>com.hrms.controllers.GetMonthDates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadYear</servlet-name>
        <servlet-class>com.hrms.controllers.loadYear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadMonth</servlet-name>
        <servlet-class>com.hrms.controllers.loadMonth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetHours</servlet-name>
        <servlet-class>com.hrms.controllers.GetHours</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveDays</servlet-name>
        <servlet-class>com.hrms.controllers.LeaveDays</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTotals</servlet-name>
        <servlet-class>com.hrms.controllers.GetTotals</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvailableDays</servlet-name>
        <servlet-class>com.hrms.controllers.AvailableDays</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Activities</servlet-name>
        <url-pattern>/Activities</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Auth</servlet-name>
        <servlet-class>com.hrms.controllers.Auth</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Auth</servlet-name>
        <url-pattern>/Auth</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DatabaseSaveServlet</servlet-name>
        <servlet-class>com.hrms.controllers.DatabaseSaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DatabaseSaveServlet</servlet-name>
        <url-pattern>/DatabaseSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FinancialYear</servlet-name>
        <servlet-class>com.hrms.controllers.FinancialYear</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FinancialYear</servlet-name>
        <url-pattern>/FinancialYear</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Holidays</servlet-name>
        <servlet-class>com.hrms.controllers.Holidays</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Holidays</servlet-name>
        <url-pattern>/Holidays</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Leave</servlet-name>
        <servlet-class>com.hrms.controllers.Leave</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Leave</servlet-name>
        <url-pattern>/Leave</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LeaveType</servlet-name>
        <servlet-class>com.hrms.controllers.LeaveType</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LeaveType</servlet-name>
        <url-pattern>/LeaveType</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListActivities</servlet-name>
        <servlet-class>com.hrms.controllers.ListActivities</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListActivities</servlet-name>
        <url-pattern>/ListActivities</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LeaveApplication</servlet-name>
        <servlet-class>com.hrms.controllers.LeaveApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.hrms.controllers.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LeaveApplication</servlet-name>
        <url-pattern>/LeaveApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageTimesheet</servlet-name>
        <url-pattern>/ManageTimesheet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageTimesheet</servlet-name>
        <servlet-class>com.hrms.controllers.ManageTimesheet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogTimesheet</servlet-name>
        <url-pattern>/LogTimesheet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogTimesheet</servlet-name>
        <servlet-class>com.hrms.controllers.LogTimesheet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetMonthDates</servlet-name>
        <url-pattern>/GetMonthDates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadYear</servlet-name>
        <url-pattern>/loadYear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadMonth</servlet-name>
        <url-pattern>/loadMonth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetHours</servlet-name>
        <url-pattern>/GetHours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveDays</servlet-name>
        <url-pattern>/LeaveDays</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTotals</servlet-name>
        <url-pattern>/GetTotals</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvailableDays</servlet-name>
        <url-pattern>/AvailableDays</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
    </welcome-file-list>
</web-app>
